---
swagger: "2.0"
info:
  description: "This API returns data about the HISTORICAL_POPULATION, being able\
    \ to filter by different characteristics, for example: LOCATION, Country, SEX,\
    \ Sex, AGE, Age, TIME, Time, Value, FlagCodes, Flags. The API response will be\
    \ in JSON format, containing a list of objects with properties: LOCATION, Country,\
    \ SEX, Sex, AGE, Age, TIME, Time, Value, FlagCodes, Flags. In addition, the following\
    \ parameters can always be used: visualization, which is used to show the information\
    \ graphically; limit, which serves to limit the maximum number of results to show\
    \ (default 10000); and offset, to indicate from which number to return from the\
    \ results set, very useful for pagination results. An example of a query would\
    \ be the following: localhost:8080/v1/LOCATION/AUS"
  version: "1.0.0"
  title: "HISTORICAL_POPULATION"
host: "www.urlprueba.com"
basePath: "/v1"
schemes:
- "https"
paths:
  /:
    get:
      summary: "GET HISTORICAL_POPULATION"
      description: "Find all HISTORICAL_POPULATION.\nThis API method finds all HISTORICAL_POPULATION.\
        \ You can filter the results by LOCATION, Country, SEX, Sex, AGE, Age, TIME,\
        \ Time, Value, FlagCodes, Flags. These results will contain the following\
        \ fields: LOCATION, Country, SEX, Sex, AGE, Age, TIME, Time, Value, FlagCodes,\
        \ Flags. An example of using this method is / whose result would include all\
        \ the records until the default limit. It is possible to specify the limit\
        \ and the offset parameters in order to paginate the results."
      operationId: "getHISTORICAL_POPULATION"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "The parameter limit is of type integer. This parameter indicates\
          \ the greatest possible degree of something. This parameter is not required\
          \ and must be in query.\n"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "The parameter offset is of type integer. This parameter indicates\
          \ cause (printed matter) to transfer or smear onto another surface. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "The parameter visualization is of type string. This parameter\
          \ indicates a mental image that is similar to a visual perception. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "string"
      - name: "LOCATION"
        in: "query"
        description: "LOCATION"
        required: false
        type: "string"
      - name: "Country"
        in: "query"
        description: "Country"
        required: false
        type: "string"
      - name: "SEX"
        in: "query"
        description: "SEX"
        required: false
        type: "string"
      - name: "Sex"
        in: "query"
        description: "Sex"
        required: false
        type: "string"
      - name: "AGE"
        in: "query"
        description: "AGE"
        required: false
        type: "string"
      - name: "Age"
        in: "query"
        description: "Age"
        required: false
        type: "string"
      - name: "TIME"
        in: "query"
        description: "TIME"
        required: false
        type: "string"
      - name: "Time"
        in: "query"
        description: "Time"
        required: false
        type: "string"
      - name: "Value"
        in: "query"
        description: "Value"
        required: false
        type: "string"
      - name: "FlagCodes"
        in: "query"
        description: "FlagCodes"
        required: false
        type: "string"
      - name: "Flags"
        in: "query"
        description: "Flags"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /AGE/{AGE}:
    get:
      summary: "GET AGE"
      description: "Find HISTORICAL_POPULATION by AGE.\nThis API method finds HISTORICAL_POPULATION\
        \ data by AGE. You must filter the results by a specific AGE. These results\
        \ will contain the following fields: LOCATION, Country, SEX, Sex, AGE, Age,\
        \ TIME, Time, Value, FlagCodes, Flags. An example of using this method is\
        \ /AGE/TOTAL or /?AGE=TOTAL whose result would include the following record:\n\
        {\n  \"LOCATION\" : \"AUS\", \n  \"Country\" : \"Australia\", \n  \"SEX\"\
        \ : \"W\", \n  \"Sex\" : \"Women\", \n  \"AGE\" : \"TOTAL\", \n  \"Age\" :\
        \ \"Total\", \n  \"TIME\" : \"2005\", \n  \"Time\" : \"2005\", \n  \"Value\"\
        \ : \"10157211\", \n  \"FlagCodes\" : \"\", \n  \"Flags\" : \"\"\n}"
      operationId: "getAGE"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "The parameter limit is of type integer. This parameter indicates\
          \ the greatest possible degree of something. This parameter is not required\
          \ and must be in query.\n"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "The parameter offset is of type integer. This parameter indicates\
          \ cause (printed matter) to transfer or smear onto another surface. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "The parameter visualization is of type string. This parameter\
          \ indicates a mental image that is similar to a visual perception. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "string"
      - name: "AGE"
        in: "path"
        description: "AGE"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /Age/{Age}:
    get:
      summary: "GET Age"
      description: "Find HISTORICAL_POPULATION by Age.\nThis API method finds HISTORICAL_POPULATION\
        \ data by Age. You must filter the results by a specific Age. These results\
        \ will contain the following fields: LOCATION, Country, SEX, Sex, AGE, Age,\
        \ TIME, Time, Value, FlagCodes, Flags. An example of using this method is\
        \ /Age/TOTAL or /?Age=TOTAL whose result would include the following record:\n\
        {\n  \"LOCATION\" : \"AUS\", \n  \"Country\" : \"Australia\", \n  \"SEX\"\
        \ : \"W\", \n  \"Sex\" : \"Women\", \n  \"AGE\" : \"TOTAL\", \n  \"Age\" :\
        \ \"Total\", \n  \"TIME\" : \"2005\", \n  \"Time\" : \"2005\", \n  \"Value\"\
        \ : \"10157211\", \n  \"FlagCodes\" : \"\", \n  \"Flags\" : \"\"\n}"
      operationId: "getAge"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "The parameter limit is of type integer. This parameter indicates\
          \ the greatest possible degree of something. This parameter is not required\
          \ and must be in query.\n"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "The parameter offset is of type integer. This parameter indicates\
          \ cause (printed matter) to transfer or smear onto another surface. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "The parameter visualization is of type string. This parameter\
          \ indicates a mental image that is similar to a visual perception. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "string"
      - name: "Age"
        in: "path"
        description: "Age"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /Country/{Country}:
    get:
      summary: "GET Country"
      description: "Find HISTORICAL_POPULATION by Country.\nThis API method finds\
        \ HISTORICAL_POPULATION data by Country. You must filter the results by a\
        \ specific Country. These results will contain the following fields: LOCATION,\
        \ Country, SEX, Sex, AGE, Age, TIME, Time, Value, FlagCodes, Flags. An example\
        \ of using this method is /Country/Australia or /?Country=Australia whose\
        \ result would include the following record:\n{\n  \"LOCATION\" : \"AUS\"\
        , \n  \"Country\" : \"Australia\", \n  \"SEX\" : \"W\", \n  \"Sex\" : \"Women\"\
        , \n  \"AGE\" : \"TOTAL\", \n  \"Age\" : \"Total\", \n  \"TIME\" : \"2005\"\
        , \n  \"Time\" : \"2005\", \n  \"Value\" : \"10157211\", \n  \"FlagCodes\"\
        \ : \"\", \n  \"Flags\" : \"\"\n}"
      operationId: "getCountry"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "The parameter limit is of type integer. This parameter indicates\
          \ the greatest possible degree of something. This parameter is not required\
          \ and must be in query.\n"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "The parameter offset is of type integer. This parameter indicates\
          \ cause (printed matter) to transfer or smear onto another surface. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "The parameter visualization is of type string. This parameter\
          \ indicates a mental image that is similar to a visual perception. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "string"
      - name: "Country"
        in: "path"
        description: "Country"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /FlagCodes/{FlagCodes}:
    get:
      summary: "GET FlagCodes"
      description: "Find HISTORICAL_POPULATION by FlagCodes.\nThis API method finds\
        \ HISTORICAL_POPULATION data by FlagCodes. You must filter the results by\
        \ a specific FlagCodes. These results will contain the following fields: LOCATION,\
        \ Country, SEX, Sex, AGE, Age, TIME, Time, Value, FlagCodes, Flags. An example\
        \ of using this method is /FlagCodes/ or /?FlagCodes= whose result would include\
        \ the following record:\n{\n  \"LOCATION\" : \"AUS\", \n  \"Country\" : \"\
        Australia\", \n  \"SEX\" : \"W\", \n  \"Sex\" : \"Women\", \n  \"AGE\" : \"\
        TOTAL\", \n  \"Age\" : \"Total\", \n  \"TIME\" : \"2005\", \n  \"Time\" :\
        \ \"2005\", \n  \"Value\" : \"10157211\", \n  \"FlagCodes\" : \"\", \n  \"\
        Flags\" : \"\"\n}"
      operationId: "getFlagCodes"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "The parameter limit is of type integer. This parameter indicates\
          \ the greatest possible degree of something. This parameter is not required\
          \ and must be in query.\n"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "The parameter offset is of type integer. This parameter indicates\
          \ cause (printed matter) to transfer or smear onto another surface. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "The parameter visualization is of type string. This parameter\
          \ indicates a mental image that is similar to a visual perception. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "string"
      - name: "FlagCodes"
        in: "path"
        description: "FlagCodes"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /Flags/{Flags}:
    get:
      summary: "GET Flags"
      description: "Find HISTORICAL_POPULATION by Flags.\nThis API method finds HISTORICAL_POPULATION\
        \ data by Flags. You must filter the results by a specific Flags. These results\
        \ will contain the following fields: LOCATION, Country, SEX, Sex, AGE, Age,\
        \ TIME, Time, Value, FlagCodes, Flags. An example of using this method is\
        \ /Flags/ or /?Flags= whose result would include the following record:\n{\n\
        \  \"LOCATION\" : \"AUS\", \n  \"Country\" : \"Australia\", \n  \"SEX\" :\
        \ \"W\", \n  \"Sex\" : \"Women\", \n  \"AGE\" : \"TOTAL\", \n  \"Age\" : \"\
        Total\", \n  \"TIME\" : \"2005\", \n  \"Time\" : \"2005\", \n  \"Value\" :\
        \ \"10157211\", \n  \"FlagCodes\" : \"\", \n  \"Flags\" : \"\"\n}"
      operationId: "getFlags"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "The parameter limit is of type integer. This parameter indicates\
          \ the greatest possible degree of something. This parameter is not required\
          \ and must be in query.\n"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "The parameter offset is of type integer. This parameter indicates\
          \ cause (printed matter) to transfer or smear onto another surface. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "The parameter visualization is of type string. This parameter\
          \ indicates a mental image that is similar to a visual perception. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "string"
      - name: "Flags"
        in: "path"
        description: "Flags"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /LOCATION/{LOCATION}:
    get:
      summary: "GET LOCATION"
      description: "Find HISTORICAL_POPULATION by LOCATION.\nThis API method finds\
        \ HISTORICAL_POPULATION data by LOCATION. You must filter the results by a\
        \ specific LOCATION. These results will contain the following fields: LOCATION,\
        \ Country, SEX, Sex, AGE, Age, TIME, Time, Value, FlagCodes, Flags. An example\
        \ of using this method is /LOCATION/AUS or /?LOCATION=AUS whose result would\
        \ include the following record:\n{\n  \"LOCATION\" : \"AUS\", \n  \"Country\"\
        \ : \"Australia\", \n  \"SEX\" : \"W\", \n  \"Sex\" : \"Women\", \n  \"AGE\"\
        \ : \"TOTAL\", \n  \"Age\" : \"Total\", \n  \"TIME\" : \"2005\", \n  \"Time\"\
        \ : \"2005\", \n  \"Value\" : \"10157211\", \n  \"FlagCodes\" : \"\", \n \
        \ \"Flags\" : \"\"\n}"
      operationId: "getLOCATION"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "The parameter limit is of type integer. This parameter indicates\
          \ the greatest possible degree of something. This parameter is not required\
          \ and must be in query.\n"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "The parameter offset is of type integer. This parameter indicates\
          \ cause (printed matter) to transfer or smear onto another surface. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "The parameter visualization is of type string. This parameter\
          \ indicates a mental image that is similar to a visual perception. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "string"
      - name: "LOCATION"
        in: "path"
        description: "LOCATION"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /SEX/{SEX}:
    get:
      summary: "GET SEX"
      description: "Find HISTORICAL_POPULATION by SEX.\nThis API method finds HISTORICAL_POPULATION\
        \ data by SEX. You must filter the results by a specific SEX. These results\
        \ will contain the following fields: LOCATION, Country, SEX, Sex, AGE, Age,\
        \ TIME, Time, Value, FlagCodes, Flags. An example of using this method is\
        \ /SEX/W or /?SEX=W whose result would include the following record:\n{\n\
        \  \"LOCATION\" : \"AUS\", \n  \"Country\" : \"Australia\", \n  \"SEX\" :\
        \ \"W\", \n  \"Sex\" : \"Women\", \n  \"AGE\" : \"TOTAL\", \n  \"Age\" : \"\
        Total\", \n  \"TIME\" : \"2005\", \n  \"Time\" : \"2005\", \n  \"Value\" :\
        \ \"10157211\", \n  \"FlagCodes\" : \"\", \n  \"Flags\" : \"\"\n}"
      operationId: "getSEX"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "The parameter limit is of type integer. This parameter indicates\
          \ the greatest possible degree of something. This parameter is not required\
          \ and must be in query.\n"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "The parameter offset is of type integer. This parameter indicates\
          \ cause (printed matter) to transfer or smear onto another surface. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "The parameter visualization is of type string. This parameter\
          \ indicates a mental image that is similar to a visual perception. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "string"
      - name: "SEX"
        in: "path"
        description: "SEX"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /Sex/{Sex}:
    get:
      summary: "GET Sex"
      description: "Find HISTORICAL_POPULATION by Sex.\nThis API method finds HISTORICAL_POPULATION\
        \ data by Sex. You must filter the results by a specific Sex. These results\
        \ will contain the following fields: LOCATION, Country, SEX, Sex, AGE, Age,\
        \ TIME, Time, Value, FlagCodes, Flags. An example of using this method is\
        \ /Sex/W or /?Sex=W whose result would include the following record:\n{\n\
        \  \"LOCATION\" : \"AUS\", \n  \"Country\" : \"Australia\", \n  \"SEX\" :\
        \ \"W\", \n  \"Sex\" : \"Women\", \n  \"AGE\" : \"TOTAL\", \n  \"Age\" : \"\
        Total\", \n  \"TIME\" : \"2005\", \n  \"Time\" : \"2005\", \n  \"Value\" :\
        \ \"10157211\", \n  \"FlagCodes\" : \"\", \n  \"Flags\" : \"\"\n}"
      operationId: "getSex"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "The parameter limit is of type integer. This parameter indicates\
          \ the greatest possible degree of something. This parameter is not required\
          \ and must be in query.\n"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "The parameter offset is of type integer. This parameter indicates\
          \ cause (printed matter) to transfer or smear onto another surface. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "The parameter visualization is of type string. This parameter\
          \ indicates a mental image that is similar to a visual perception. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "string"
      - name: "Sex"
        in: "path"
        description: "Sex"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /TIME/{TIME}:
    get:
      summary: "GET TIME"
      description: "Find HISTORICAL_POPULATION by TIME.\nThis API method finds HISTORICAL_POPULATION\
        \ data by TIME. You must filter the results by a specific TIME. These results\
        \ will contain the following fields: LOCATION, Country, SEX, Sex, AGE, Age,\
        \ TIME, Time, Value, FlagCodes, Flags. An example of using this method is\
        \ /TIME/2005 or /?TIME=2005 whose result would include the following record:\n\
        {\n  \"LOCATION\" : \"AUS\", \n  \"Country\" : \"Australia\", \n  \"SEX\"\
        \ : \"W\", \n  \"Sex\" : \"Women\", \n  \"AGE\" : \"TOTAL\", \n  \"Age\" :\
        \ \"Total\", \n  \"TIME\" : \"2005\", \n  \"Time\" : \"2005\", \n  \"Value\"\
        \ : \"10157211\", \n  \"FlagCodes\" : \"\", \n  \"Flags\" : \"\"\n}"
      operationId: "getTIME"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "The parameter limit is of type integer. This parameter indicates\
          \ the greatest possible degree of something. This parameter is not required\
          \ and must be in query.\n"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "The parameter offset is of type integer. This parameter indicates\
          \ cause (printed matter) to transfer or smear onto another surface. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "The parameter visualization is of type string. This parameter\
          \ indicates a mental image that is similar to a visual perception. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "string"
      - name: "TIME"
        in: "path"
        description: "TIME"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /Time/{Time}:
    get:
      summary: "GET Time"
      description: "Find HISTORICAL_POPULATION by Time.\nThis API method finds HISTORICAL_POPULATION\
        \ data by Time. You must filter the results by a specific Time. These results\
        \ will contain the following fields: LOCATION, Country, SEX, Sex, AGE, Age,\
        \ TIME, Time, Value, FlagCodes, Flags. An example of using this method is\
        \ /Time/2005 or /?Time=2005 whose result would include the following record:\n\
        {\n  \"LOCATION\" : \"AUS\", \n  \"Country\" : \"Australia\", \n  \"SEX\"\
        \ : \"W\", \n  \"Sex\" : \"Women\", \n  \"AGE\" : \"TOTAL\", \n  \"Age\" :\
        \ \"Total\", \n  \"TIME\" : \"2005\", \n  \"Time\" : \"2005\", \n  \"Value\"\
        \ : \"10157211\", \n  \"FlagCodes\" : \"\", \n  \"Flags\" : \"\"\n}"
      operationId: "getTime"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "The parameter limit is of type integer. This parameter indicates\
          \ the greatest possible degree of something. This parameter is not required\
          \ and must be in query.\n"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "The parameter offset is of type integer. This parameter indicates\
          \ cause (printed matter) to transfer or smear onto another surface. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "The parameter visualization is of type string. This parameter\
          \ indicates a mental image that is similar to a visual perception. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "string"
      - name: "Time"
        in: "path"
        description: "Time"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /Value/{Value}:
    get:
      summary: "GET Value"
      description: "Find HISTORICAL_POPULATION by Value.\nThis API method finds HISTORICAL_POPULATION\
        \ data by Value. You must filter the results by a specific Value. These results\
        \ will contain the following fields: LOCATION, Country, SEX, Sex, AGE, Age,\
        \ TIME, Time, Value, FlagCodes, Flags. An example of using this method is\
        \ /Value/10157211 or /?Value=10157211 whose result would include the following\
        \ record:\n{\n  \"LOCATION\" : \"AUS\", \n  \"Country\" : \"Australia\", \n\
        \  \"SEX\" : \"W\", \n  \"Sex\" : \"Women\", \n  \"AGE\" : \"TOTAL\", \n \
        \ \"Age\" : \"Total\", \n  \"TIME\" : \"2005\", \n  \"Time\" : \"2005\", \n\
        \  \"Value\" : \"10157211\", \n  \"FlagCodes\" : \"\", \n  \"Flags\" : \"\"\
        \n}"
      operationId: "getValue"
      produces:
      - "application/json"
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "The parameter limit is of type integer. This parameter indicates\
          \ the greatest possible degree of something. This parameter is not required\
          \ and must be in query.\n"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "The parameter offset is of type integer. This parameter indicates\
          \ cause (printed matter) to transfer or smear onto another surface. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "integer"
      - name: "visualization"
        in: "query"
        description: "The parameter visualization is of type string. This parameter\
          \ indicates a mental image that is similar to a visual perception. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "string"
      - name: "Value"
        in: "path"
        description: "Value"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
  /visualization:
    get:
      summary: "GET visualization charts"
      description: "Find HISTORICAL_POPULATION by visualization.\nThis API method\
        \ finds HISTORICAL_POPULATION data by visualization. You must filter the results\
        \ by a specific visualization. These results will contain the following fields:\
        \ LOCATION, Country, SEX, Sex, AGE, Age, TIME, Time, Value, FlagCodes, Flags.\
        \ An example of using this method is /visualization/ or /?visualization= whose\
        \ result would include the following record:\n{\n  \"LOCATION\" : \"AUS\"\
        , \n  \"Country\" : \"Australia\", \n  \"SEX\" : \"W\", \n  \"Sex\" : \"Women\"\
        , \n  \"AGE\" : \"TOTAL\", \n  \"Age\" : \"Total\", \n  \"TIME\" : \"2005\"\
        , \n  \"Time\" : \"2005\", \n  \"Value\" : \"10157211\", \n  \"FlagCodes\"\
        \ : \"\", \n  \"Flags\" : \"\"\n}"
      operationId: "getvisualization"
      produces:
      - "text/html"
      parameters:
      - name: "limit"
        in: "query"
        description: "The parameter limit is of type integer. This parameter indicates\
          \ the greatest possible degree of something. This parameter is not required\
          \ and must be in query.\n"
        required: false
        type: "integer"
      - name: "offset"
        in: "query"
        description: "The parameter offset is of type integer. This parameter indicates\
          \ cause (printed matter) to transfer or smear onto another surface. This\
          \ parameter is not required and must be in query.\n"
        required: false
        type: "integer"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
      x-swagger-router-controller: "Default"
definitions:
  mainComponent:
    type: "object"
    properties:
      LOCATION:
        type: "string"
        example: "AUS"
        description: "The property LOCATION is of type string and an example is AUS.\
          \ This property indicates  the identifier for a point or extent in space.\n"
      FlagCodes:
        type: "string"
        example: ""
        description: "The property FlagCodes is of type string. This property indicates\
          \ the codes ((computer science) the symbolic arrangement of data or instructions\
          \ in a computer program or the set of such instructions) of flag (emblem\
          \ usually consisting of a rectangular piece of cloth of distinctive design).\n"
      SEX:
        type: "string"
        example: "W"
        description: "The property SEX is of type string and an example is W. This\
          \ property indicates  the identifier for activities associated with sexual\
          \ intercourse.\n"
      Sex:
        type: "string"
        example: "Women"
        description: "The property Sex is of type string and an example is Women.\
          \ This property indicates activities associated with sexual intercourse.\n"
      Value:
        type: "integer"
        example: 10157211
        description: "The property Value is of type integer and an example is 10157211.\
          \ This property indicates a numerical quantity measured or assigned or computed.\n"
      Country:
        type: "string"
        example: "Australia"
        description: "The property Country is of type string and an example is Australia.\
          \ This property indicates the territory occupied by a nation.\n"
      TIME:
        type: "integer"
        example: 2005
        description: "The property TIME is of type integer and an example is 2005.\
          \ This property indicates  the identifier for an instance or single occasion\
          \ for some event.\n"
      Time:
        type: "integer"
        example: 2005
        description: "The property Time is of type integer and an example is 2005.\
          \ This property indicates an instance or single occasion for some event.\n"
      Flags:
        type: "string"
        example: ""
        description: "The property Flags is of type string. This property indicates\
          \ emblem usually consisting of a rectangular piece of cloth of distinctive\
          \ design.\n"
      Age:
        type: "string"
        example: "Total"
        description: "The property Age is of type string and an example is Total.\
          \ This property indicates how long something has existed.\n"
      AGE:
        type: "string"
        example: "TOTAL"
        description: "The property AGE is of type string and an example is TOTAL.\
          \ This property indicates  the identifier for how long something has existed.\n"
    xml:
      name: "mainComponent"
